  
    
    
    <main>
        <div class="grilla">
          <div class="imagen"></div>
          <div class="padre">
            <div class="formulario">
              <div class="logo">
                <img src="../img/logo-dennys.png" />
              </div>

              <form action='@Url.Action("IniciarSesion", "Dennys")' class="div-form"  method="post">
                <div class="label-input">
                  <label for="nombre">Email*</label>
                  <input type="text" placeholder="Email" name="Email" required />
                </div>
                <div class="label-input">
                    <label for="nombre">Nueva Contraseña*</label>
                    <input type="password" placeholder="Nueva contraseña" name="Contraseña" id="Contraseña"  required />
                </div>
                <div>
                  <div class="a-olvide">
                        <a class="a-ya-tenes" href='@Url.Action("OlvideMiContraseña", "Dennys")'>Olvidaste tu contraseña?</a>
                    </div>
                </div>
                    @if (ViewBag.Error != null)
                    {
                     <p class="error">@ViewBag.Error</p>
                    }
                <div class="padre-button">
                <div class="div-boton">
                  <button class="button" type="submit">
                    Iniciar sesion
                  </button>
                </div>
              </div>
                
              </form>
            </div>
          </div>
        </div>
      </main>

      <footer class="pie-pagina">


  <div class="grupo-1"> 
    <div class="box">
      <figure>
        <a href='@Url.Action("Bienvenida", "Dennys")'>
          <img src="../img/logo-dennys.png" >
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Pagina para reservar y compartir tus experiencias en diferentes restaurantes</p>
      <p>Conéctate con restaurantes: reserva, deja reseñas y accede a detalles fácilmente.</p>
    </div>
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="https://www.facebook.com/?locale=es_LA" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
        <a href="https://twitter.com/?lang=es" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.whatsapp.com/?lang=es" class="fa fa-whatsapp" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="grupo-2">
    <small>&copy; 2023 <b>Dennys </b>Todos los derechos reservados</small>
  </div>